body {
    background: linear-gradient(rgb(15, 84, 228), rgb(255, 255, 255)) no-repeat;
    background-attachment: fixed;
    padding: 15px;
}

h1 {
    color: rgb(239, 245, 59);
}

.vorne, .rechts, .gleise {
    border-bottom: dotted 5px white;
}

.gleise  tr, .vorne tr, .rechts tr{
    display: inline-block;
    padding: 2px;
    margin-bottom: 20px;
    vertical-align: top;
    border-right: solid 1px;
    height: 80px;
    min-width: 40px;
}

    .gleise tr th, .vorne tr th, .rechts tr th {
        display: block;
        border-bottom: solid 1px;
        border-color: black;
        color: rgb(239, 245, 59);
        text-shadow: 1px 1px 2px grey;
        min-width: 40px;
    }

.gleise tr td, .vorne tr td, .rechts tr td {
    display: block;
    color: white;
    text-shadow: 1px 1px 2px black;
    min-width: 40px;
}

tr td span {
    color: red;
}
