body {
    background: linear-gradient(rgb(15, 84, 228), rgb(255, 255, 255)) no-repeat;
    background-attachment: fixed;
    padding: 15px;
}

.kazalo {
    opacity: 0.01;
    background: lightgrey;
    text-shadow: 1px 1px 2px black;
    position: fixed;
    top: 10;
    right: 35;
    border-radius: 25px;
}

.kazalo th {
    color: red;
}

.kazalo:hover {
    opacity: 0.9;
}

h1 {
    color: rgb(239, 245, 59);
}

.vorne, .rechts, .gleise, .links {
    border-bottom: dashed 5px rgb(239, 245, 59);
    width: 100%;
}

.gleise  tr, .vorne tr, .rechts tr, .links tr{
    display: inline-block;
    padding: 2px;
    margin-bottom: 20px;
    vertical-align: top;
    border-right: solid 1px;
    height: 80px;
    min-width: 40px;
}

    .gleise tr th, .vorne tr th, .rechts tr th, .links tr th {
        display: block;
        border-bottom: solid 1px;
        border-color: black;
        color: rgb(239, 245, 59);
        text-shadow: 1px 1px 2px grey;
    }

.gleise tr td, .vorne tr td, .rechts tr td, .links tr td {
    display: block;
    color: white;
    text-shadow: 1px 1px 2px black;
}

tr td span {
    color: red;
}
